* {
  box-sizing: border-box;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 600px;
  width: 600px;
}

.block {
  background-color: red;
}

div.square {
  width: 10%;
  height: 10%;
  border: 1px solid;
}

.ship {
  background-color: #000000;
}
