* {
  box-sizing: border-box;
}

/* GRID SET UP */
.grid-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}

.computer-wrapper, .player-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid, .player-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 380px;
  width: 380px;
}

.block {
  background-color: #bdbdbd;
}

div.square {
  width: 10%;
  height: 10%;
  border: 1px solid;
}

div.player-square {
  width: 10%;
  height: 10%;
  border: 1px solid;
}

.ship {
  background-color: #000000;
}

/* HIT OR MISS */
.miss {
  background-color: blue;
}

.hit {
  background-color: orange;
}

/* Player ship choices */
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
}

[class*='-button'] {
  width: 150px;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid;
}

.selected {
  background-color: red;
}