* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url('images/battleship-background.jpg');
  background-size: cover;
}

p {
  margin: 5px;
  color: #ffffff;
}

h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 65px;
  margin: 10px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

h2 {
  font-family: 'Black Ops One', cursive;
  margin-top: 5px;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}


main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  max-width: 1100px;
}

.main-wrapper {
  display: flex;
  justify-content: column;
}

.central-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
}

.scores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
  background-color: #ffffff;
  color: #000000;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid;
}

.messages {
  font-size: 10px;
  text-align: center;
  height: 50px;
  color: #000000;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 450px;
  background-color: #ffffff;
}

.error-message {
  font-size: 20px;
  line-height: 40px;
  color: red;
}

/* GRID SET UP */
.grid-wrapper {
  display: flex;
  justify-content: space-between;

}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
}

.computer-wrapper, .player-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid, .player-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 450px;
  width: 450px;
  background-color: rgba(255,255,255,0.1);
}

.block {
  background-color: rgba(255,255,255,0.1);
}

[class*='square'] {
  width: 10%;
  height: 10%;
  border: 1px solid rgba(189,189,189,0.5);
  background-color: rgba(255,255,255,0.01);
}

.ship {
  background-color: #000000;
}

.square.ship {
  background-color: rgba(255,255,255,0.01);
}

/* HIT OR MISS */
.miss {
  background-image: url('images/miss.png');
  background-size: contain;
}

.hit {
  background-image: url('images/explosion.png');
  background-size: contain;
}

/* Player ship choices */
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 250px;
}

[class*='-button'] {
  width: 100%;
  padding: 13px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  font-size: 18px;
  color: #ededed;
  background-color: #e50202;
  border-radius: 4px;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reset-button {
  background-color: #007a14;
  margin-top: 30px;
}

.reset-button:active {
  background-color: #00590e;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}


.selected {
  background-color: #ad0505;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}
